# ===============================
# DATA FILES
# ===============================
*.zip
*.csv
bigfile_part_*
Entire_Dataset/
Final_Merged_Dataset.*
5%/

# ===============================
# MODELS
# ===============================
*.h5
*.pt
*.pth
*.pkl
*.joblib
*.save

# ===============================
# VIRTUAL ENVIRONMENTS
# ===============================
IoT_venv/
venv/

# ===============================
# SECRETS
# ===============================
Git_token.txt

# ===============================
# NOTEBOOK CHECKPOINTS
# ===============================

# OS
.DS_Store
Papers/
__pycache__/
Pre_processing.py
